

.flex-box {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.block {
    font-size: 36px;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}